@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.footer-box{
     width: 1536px;
     height: 300px;
     background-color: black;
}
.font-style1{
    font-family: 'Outfit';
    font-size: 20px;
    color: black;
}
.display{
     display: inline-flex;
     margin-top: 10px;
}
.font-style2{
     font-family: 'Outfit';
     font-size: 40px;
     margin-top: 230px;
     margin-left: 210px;
     color: rgba(0, 0, 0, 0.826);
     text-align: justify;
}
.font-style3{
     font-family: 'Outfit';
     font-size: 20px;
     margin-left: 1000px;
}
.button1{
     width: 200px;
     height: 50px;
     background-color: black;
     color: white;
     font-family: 'Outfit';
     border: none;
     font-size: 15px;
}
.button1:hover{
     background-color: transparent;
     color: rgb(0, 0, 0);
     border-color:  black;
     border-style: solid;
     border-width: 2.5px;
}
.button2{
     width: 200px;
     height: 50px;
     background-color: transparent;
     color: rgb(0, 0, 0);
     border-color:  black;
     font-family: 'Outfit';
     border-style: solid;
     border-width: 2.5px;
     font-size: 15px;
}
.button2:hover{
     background-color: black;
     color: white;
     border: none;
}
.font-style4{
     font-family: 'Outfit';
     font-size: 30px;
}
.buy-box{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-color: black;
    border-style: solid;   
    margin-left: 30px;
}
.buynow-display{
     display: inline-flex;
     margin-left: 90px;
}
.font-style5{
     font-family: 'Inter';
     font-size: 20px;
     color: black;
}
.buynow-btn{
    height: 45px;
    width: 100px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
}
